{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
    <meta charset="UTF-8">
    <title>Ajout / Modif Étudiant</title>
</head>
<body>
    <header>
        <h1>Formulaire de saisie / modification des étudiants</h1>
    </header>
    <div class="form-container">
        {% if not id %}
            <form class="form" action="/ecole/traitement_etudiant/" method="POST" enctype="multipart/form-data">
        {% else %}
            <form class="form" action="/ecole/traitement_update_etudiant/{{id}}/" method="POST" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" class="bouton_ajout" value="Envoyer les données">
        </form>
        <a href="{% url 'liste_etudiants' %}" class="btn-action" style="margin-top:16px; display:inline-block;">Retour à la liste</a>
    </div>
</body>
</html>
