{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Absences pour le cours {{ cours.titre_cours }}</title>
     <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>
<body>
    <h2>Liste des absents pour le cours : {{ cours.titre_cours }}</h2>
    <p><strong>Date :</strong> {{ cours.date_cours }}</p>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Justifiée</th>
                <th>Justificatif</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
            <tr>
                <td>{{ absence.etudiants.nom_etu }}</td>
                <td>{{ absence.etudiants.prenom_etu }}</td>
                <td>{% if absence.justifie %}Oui{% else %}Non{% endif %}</td>
                <td>
                    {% if absence.justification %}
                        <a href="{{ absence.justification.url }}" target="_blank">Voir</a>
                    {% else %}
                        Aucun
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Aucune absence enregistrée pour ce cours.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="display:flex; gap:12px; justify-content:center; margin-top:18px;">
        <a href="{% url 'index' %}" class="btn-action">🏠 Accueil</a>
    </div>
</body>
</html>
