<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>

{% block content %}
  <h2>Détail de l'Étudiant</h2>
  <p><strong>ID :</strong> {{ etudiant.id_etu }}</p>
  <p><strong>Nom :</strong> {{ etudiant.nom_etu }}</p>
  <p><strong>Prénom :</strong> {{ etudiant.prenom_etu }}</p>
  <p><strong>Email :</strong> {{ etudiant.mail_etu }}</p>
  <p><strong>Groupe :</strong> {{ etudiant.groupe }}</p>
  <p><strong>Photo :</strong> <img src="/media/{{ etudiant.photo }}" width="200" ></p>
{% endblock %}

    <a href="/ecole/ajouter_etudiant/">Ajouter un nouvel etudiant</a>
    <a href="/ecole/index/">Page d'accueil</a>
    <a href="/ecole/liste_etudiants/">Afficher les etudiants enregistrés</a>
