<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>

{% block content %}
  <h2>Détail du Cours</h2>
  <p><strong>ID :</strong> {{ cours.id_cours }}</p>
  <p><strong>Titre :</strong> {{ cours.titre_cours }}</p>
  <p><strong>Date :</strong> {{ cours.date_cours }}</p>
  <p><strong>Enseignant :</strong> {{ cours.enseignants }}</p>
  <p><strong>Groupe :</strong> {{ cours.groupe }}</p>
  <p><strong>Durée :</strong> {{ cours.duree_cours }}</p>
{% endblock %}
