<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
    <meta charset="UTF-8">
    <title>Ajout d'étudiants</title>
</head>
<body>
    <header>
        <h1>Formulaire de saisie / modification des étudiants :</h1>
    </header>

    <div class="form-container">
        {% if not id %}
            <form class="form" action="/ecole/traitement_etudiant/" method="POST" enctype="multipart/form-data">
        {% else %}
            <form class="form" action="/ecole/traitement_update_etudiant/{{id}}/" method="POST" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste -->
            <input type="submit" class="bouton_ajout" value="Envoyer les données">
        </form>
    <a href="{% url 'liste_etudiants' %}">Retour à la liste</a>
    </div>




