<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>
<h2>Liste des Enseignants</h2>
<a href="{% url 'ajouter_enseignant' %}">Ajouter un enseignant</a>
<ul>
{% for cours in liste_cours %}
    {% empty %}
      <li>Aucun cours trouvé</li>
    {% endfor %}
    <li>
        {{ enseignant.prenom_ens }} {{ enseignant.nom_ens}}

    </li>
    <a href="/ecole/update_enseignant/{{enseignant.id_ens}}/">Update</a>
    <a href="/ecole/supprimer_enseignant/{{enseignant.id_ens}}/">Supprimer</a>
    <a href="/ecole/afficher_enseignant/{{enseignant.id_ens}}/">Affichage détails…</a>
{% endfor %}
</ul>

