<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>
<h2>Liste des Etudiants</h2>
<a href="{% url 'ajouter_etudiant' %}">Ajouter un etudiant</a>
<ul>
{% for etudiant in liste_e %}
    <li>
        {{ etudiant.prenom }} {{ etudiant.nom_etu}}

    </li>
    <a href="/ecole/update_etudiant/{{etudiant.id_etu}}/">Update</a>
    <a href="/ecole/supprimer_etudiant/{{ etudiant.id_etu }}/">Supprimer</a>
    <a href="/ecole/afficher_etudiant/{{etudiant.id_etu}}/">Affichage détails…</a>
{% endfor %}
</ul>
