<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>
<h2>Liste des absences</h2>
<ul>
{% for absence in liste_ab %}
    <li>
        {{ absence.etudiants }} {{ absence.cours }}

    </li>
    <a href="/ecole/ajouter_absence/">Ajouter absence</a>
    <a href="/ecole/update_absence/{{absence.id_absence}}/">Update</a>
    <a href="/ecole/supprimer_absence/{{absence.id_absence}}/">Supprimer</a>
    <a href="/ecole/afficher_absence/{{absence.id_absence}}/">Affichage détails…</a>
{% endfor %}
</ul>

