<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecole/style.css' %}">
</head>
<h2>Liste des cours</h2>
<ul>
{% for cours in liste_c %}
    <li>
        {{ cours.titre_cours }}

    </li>
    <a href="/ecole/ajouter_cours/">Ajouter cours</a>
    <a href="/ecole/update_cours/{{cours.id_cours}}/">Update</a>
    <a href="/ecole/supprimer_cours/{{cours.id_cours}}/">Supprimer</a>
    <a href="/ecole/afficher_cours/{{cours.id_cours}}/">Affichage détails…</a>
{% endfor %}
</ul>

