[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=django_app
Group=www-data
WorkingDirectory=/home/django_app/SAE2.03
ExecStart=/home/django_app/SAE2.03/venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/home/django_app/SAE2.03/gunicorn.sock \
          --access-logfile - \
          --error-logfile - \
          gestion_etudiants.wsgi:application

[Install]
WantedBy=multi-user.target

 
