{% extends "ecole/base.html" %}
{% block content %}
  <h2>Liste des Cours</h2>
  <a href="{% url 'ajouter_cours' %}">➕ Ajouter un cours</a>
  <ul>
    {% for cours in cours %}
      <li>
        <a href="{% url 'afficher_cours' cours.id_cours %}">{{ cours.titre_cours }}</a> - {{ cours.date_cours }}
        <a href="{% url 'modifier_cours' cours.id_cours %}">✏️</a>
        <a href="{% url 'supprimer_cours' cours.id_cours %}">🗑️</a>
      </li>
    {% empty %}
      <li>Aucun cours trouvé</li>
    {% endfor %}
  </ul>
{% endblock %}
